<div class="container">
    <nav>
        <div class="logo">SR<span></span></div>
        <ul>
            <li routerLink="">Home</li>
            <li routerLink="project">Project</li>
            <li routerLink="about">About</li>
            <li routerLink="contact">Contact</li>
        </ul>
    </nav>
    <br>
    <!-- <h2 class="text-center">Welcome to My Portfolio</h2> -->
    <h2 class="text-center">Welcome to My Development Journey</h2>
    <br><br>
    <div id="home" class="hero-content">

        <div class="intro">
            <p>Hello</p>
            <h1>I'm <span>Sivaraaj</span></h1>
            <h2>A full stack developer at <span style="color: orangered;">Oasys</span> based in Chennai.</h2>
            <!-- <p>With expertise in Angular, Spring Boot, and MySQL & PostgreSQL, I build efficient and scalable solutions.
                Here’s a
                glimpse of my work:</p> -->

            <p>"I specialize in building scalable, user-friendly web applications using Angular, Spring Boot, and
                PostgreSQL. Take a look at some of my work below or get in touch</p>
            <br>
            <!-- <h2>
                ↓
                RESUME
            </h2> -->

            <button class="button" (click)="downloadFile()">
                <span class="button-content">RESUME</span>
            </button>

        </div>
        <div class="hero-image">
            <img src="assets/ss.png" alt="Developer Image">
        </div>
    </div>
</div>
<br>

<!-- <div class="chat-container">
  <div class="chat-input">
    <input [(ngModel)]="userMessage" type="text" placeholder="Type your message here..." />
    <button (click)="onSendMessage()">Send</button>
  </div>
  
  <div class="">
    <p><strong></strong> {{ botResponse }}</p>
  </div>
</div> -->
<!-- <div class="chat-button" (click)="toggleChatInput()">
    <button>
        <marquee behavior="scroll" direction="down"> <img src="assets/Screenshot from 2024-09-27 14-09-01.png"
                alt="ChatNotAvailable"></marquee>
        <span class="tooltip">How can I help you?</span>
    </button>
</div>

<div class="chat-input" *ngIf="isChatInputVisible">
    <div class="chat-box">
        <p *ngIf="botResponse">{{ botResponse }}</p>
    </div>
    <div class="input-area">
        <input type="text" [(ngModel)]="userMessage" placeholder="Type your message..." />
        <button class="send-button" (click)="onSendMessage()">✉️</button>
    </div>
</div>

 -->

 <div class="chat-button" (click)="toggleChatInput()">
    <button>
        <img src="assets/Screenshot from 2024-09-27 14-09-01.png" alt="ChatNotAvailable">
        <span class="tooltip" data-toggle="popover" data-content="How can I help you?">How can I help you?</span>

    </button>
</div>

<div class="chat-input" *ngIf="isChatInputVisible">
    <div class="chat-box">
        <div class="message user-message" *ngIf="userMessage">
            <p>You: {{ userMessage }}</p>
        </div>
        <div class="message bot-message" *ngIf="botResponse">
            <p>{{ botResponse }}</p>
        </div>
    </div>

    <div class="input-area">
        <input type="text" [(ngModel)]="userMessage" placeholder="Type your message..." />
        <button (click)="onSendMessage()">
            <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                        </path>
                    </svg>
                </div>
            </div>
            <span>Send</span>
        </button>

    </div>
</div>



<app-footer></app-footer>